<h1> Gestão de Sala </h1>
<form method="post" action="Create">
    <div class="form-group">
        <label for="nome">Aluno</label>
        <input type="text" class="form-control" id="nome" name="nome">

    </div>
    <a hred="/Aluno/Index" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>