<h2>Gestão de Sala</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col"> Nome</th>
            <th scope="col">Sobrenome</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in @ViewBag.ViewBag.listaAluno)
        {
            <tr>
                <td>@item.AlunoID </td>
                <td>@item.AlunoNome </td>
                <td>@item.AlunoSobrenome </td>
            </tr>
        }
    </tbody>
</table>
