
<h1> Gestão de Sala </h1>

<form method="post" action="Create">
    <div class="form-group">
        <label for="descricao">Sala</label>
        <input type="text" class="form-control" id="descricao" name="descricao">

    </div>

    <a hred="/Sala/Index" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>