<h1> Gestão de Sala </h1>

<form method="post" action="Create">
    <div class="form-group">
        <label for="nome">Responsavel</label>
        <input type="text" class="form-control" id="nome" name="nome">

    </div>

    <a hred="/Responsavel/Index" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>